.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: auto;
    border-bottom: 1px solid rgb(121, 121, 121);
}

.navbar li {
    float: left;
}

.navbar li a {
    color: rgb(121, 121, 121);
    text-decoration: none;
    display: block;
    padding: 15px 20px;
}

.navbar li a:hover {
    background: rgb(243, 243, 243);
}

.active {
    color: rgb(99, 99, 99) !important;
    background: rgb(243, 243, 243);
    font-weight: bold;
}